@charset "UTF-8";
/** common **/
.header {
	width: 100%;
	height: 168px;
	background-color:#e22219;
	position: fixed;
	z-index: 999;
}
.contents_box {
	width: 100%;
	height: auto;
	top: 168px;
	position: absolute;
	background-color: #fff;
}
/** common **/

.user_info_update_box {
	width: 100%;
	height: auto;
	background-color: #f2ebe6;
	padding: 60px 0px;
}
.content_title {
	text-align: left;
	font-weight: bold;
	margin-bottom: 40px;
}
.content_top {
	text-align: left;
}
.content_top_img {
	width: 40px;
	height: 40px;
	padding: 5px;
}
.content_top_txt {
	font-weight: bold;
	padding: 7px 2px;
}
.content_box {
	width: 100%;
	height: auto;
	background: #fff;
	padding: 40px;
	margin: 20px 0px 40px 0px;
}
.user_info_update_content {
	text-align: left;
	
}
.user_info_update_title {
	width: 150px;
	height: 45px;
	padding-top: 10px;
	font-weight: bold;
}
.user_info_update_txt {
	width: auto;
	height: auto;
	border:none;
	background-color: #efefef;
	cursor: text;
}
.user_info_update_btn {
	width: 200px;
	height: 68px;
	border:none;
	border-radius: 10px;
	background-color: #512314;
	color:#fff;
	display: block;
	margin: 0 auto;
	font-weight: bold;
}
.user_info_update_check {
	width: auto;
}

.signup_gender_box {
	width: auto;
	height: 30px;
	margin: 0 auto;
	text-align: left;
}
.signup_gender_check {
	width: 30px;
	height: 30px;
}
.signup_gender_txt {
	display: inline-block;
	padding: 6px 60px 6px 6px;
}

.signup_birth_input {
	width: 200px;
	height: 45px;
	background-color: #efefef;
	line-height: normal;
}

/* 회원 탈퇴 버튼 */
.user_delete_btn {
	width: auto;
	padding: 5px;
	display: block;
	font-weight: bold;
	float: right;
	border: none;
	color: #2e2e2e;
	background-color: #f2ebe6;
}