@charset "UTF-8";
/** common **/
.header {
	width: 100%;
	height: 168px;
	background-color:#e22219;
	position: fixed;
	z-index: 999;
}
.contents_box {
	width: 100%;
	height: auto;
	top: 168px;
	position: absolute;
	background-color: #fff;
}

/** common **/

/* delivery menu title */
.delivery_menu_top_box {
	margin: 40px 0px;
}
.delivery_menu_top_title {
	float: left;
	font-weight: bold;
	margin-right: 10px;
}
.delivery_menu_title_box {
	padding-top: 5px;
	text-align: right;
}
.delivery_menu {
	width: auto;
	height: auto;
	padding: 10px 0px;
	margin-left: 20px;
	border:none;
	color: #8d8d8d;
	background-color: #fff;
	font-size: 16px;
	font-weight: bold;
}
.delivery_menu_default {
	color: #e22219 !important;
	border-bottom: 4px solid #e22219;
}
/* delivery menu title */

/* deliver menu box */
.delivery_menu_table_box {
	width: 100%;
	height: auto;
}
.delivery_content_box {
	width: 100%;
	height: auto;
	display: flex;
/* 	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start; */
}
.delivery_menu_table {
	width: 250px;
	height: 300px;
	margin: 5px;
	
}
.delivery_menu_table_img {
	width: 250px;
	height: 120px;
}
.delivery_menu_table_name {
	width: auto;
	font-size: 22px;
}
.delivery_menu_table_price {
	width: auto;
	color: #e22219 !important;
	font-size: 20px;
}